# http
BASE_URL="/nymph/"
HTTP_PORT="3000"

# database
MONGODB_URI="$NYMPH_MONGODB_URI"

# openai-compatible integration
OPENAI_API_KEY="$NYMPH_CEREBRAS_API_KEY"
OPENAI_BASE_URL="https://api.cerebras.ai/v1"
OPENAI_MODEL="gpt-oss-120b"

# discord integration
DISCORD_BOT_TOKEN="$NYMPH_DISCORD_BOT_TOKEN"

# line integration
LINE_CHANNEL_ACCESS_TOKEN="$NYMPH_LINE_CHANNEL_ACCESS_TOKEN"
LINE_CHANNEL_SECRET="$NYMPH_LINE_CHANNEL_SECRET"

# sara configs
SARA_RECV_HOST="http://sara-recv:3000" # replace the field with your sara.recv entrypoint
SARA_AUDIENCE_URL="https://web-tech.tw"
