# http
HTTP_PORT="3000"

# database
MONGODB_URI="$NYMPH_MONGODB_URI"

# anthropic integration
ANTHROPIC_API_KEY="$NYMPH_ANTHROPIC_API_KEY"
ANTHROPIC_MODEL="claude-sonnet-5"
ANTHROPIC_THINKING='{"type": "adaptive"}'

# discord integration
DISCORD_BOT_TOKEN="$NYMPH_DISCORD_BOT_TOKEN"

# line integration
LINE_CHANNEL_ACCESS_TOKEN="$NYMPH_LINE_CHANNEL_ACCESS_TOKEN"
LINE_CHANNEL_SECRET="$NYMPH_LINE_CHANNEL_SECRET"
