# anthropic integration
ANTHROPIC_API_KEY="$LISCIA_ANTHROPIC_API_KEY"
ANTHROPIC_BASE_URL="https://api.anthropic.com/v1"
ANTHROPIC_MODEL="claude-haiku-4-5"

# discord integration
DISCORD_BOT_TOKEN="$LISCIA_DISCORD_BOT_TOKEN"
DISCORD_PRESENCE="Chief Translator"
