deviceName: "Atila"

http:
  bindHost: 0.0.0.0
  bindPort: 3000
  baseUrl: "https://web-tech.tw/recv/atila"

bridge:
  public: true

bridgeProvider:
  # OpenAI
  openai:
    enable: true
    # https://github.com/ai-tech-tw/openai
    baseUrl: "https://web-tech.tw/recv/openai/v1"
    apiKey: "${ATILA_OPENAI_API_KEY}"
    chatModel: "llama3.1-8b"

  # LINE
  line:
    enable: true
    channelAccessToken: "${ATILA_LINE_CHANNEL_ACCESS_TOKEN}"
    channelSecret: "${ATILA_LINE_CHANNEL_SECRET}"
    useNotify: false
    notifyClientId: "YourClientID"
    notifyClientSecret: "YourClientSecret"

  # Matrix
  matrix:
    enable: false
    homeserverUrl: "https://matrix.org"
    accessToken: "${ATILA_MATRIX_ACCESS_TOKEN}"

  # Discord
  discord:
    enable: true
    appId: "1538215024512995429"
    botToken: "${ATILA_DISCORD_BOT_TOKEN}"

  # Telegram
  telegram:
    enable: true
    botToken: "${ATILA_TELEGRAM_BOT_TOKEN}"
