# http
BASE_URL="/astraea/"
HTTP_PORT="3000"

# database
MONGODB_URI="$ASTRAEA_MONGODB_URI"

# anthropic integration
ANTHROPIC_API_KEY="$ASTRAEA_ANTHROPIC_API_KEY"
ANTHROPIC_MODEL="claude-sonnet-5"
ANTHROPIC_THINKING='{"type": "adaptive"}'

# discord integration
DISCORD_BOT_TOKEN="$ASTRAEA_DISCORD_BOT_TOKEN"

# line integration
LINE_CHANNEL_ACCESS_TOKEN="$ASTRAEA_LINE_CHANNEL_ACCESS_TOKEN"
LINE_CHANNEL_SECRET="$ASTRAEA_LINE_CHANNEL_SECRET"
