APPLICATION_ROOT = "/recv/openai/"

AI_TRIAL_PREFILL_TOKEN_CEREBRAS = "$IRONNECT_AI_TRIAL_PREFILL_TOKEN_CEREBRAS"
AI_TRIAL_PREFILL_TOKEN_GEMINI = "$IRONNECT_AI_TRIAL_PREFILL_TOKEN_GEMINI"
AI_TRIAL_PREFILL_TOKEN_GROQ = "$IRONNECT_AI_TRIAL_PREFILL_TOKEN_GROQ"
