APPLICATION_ROOT = "/recv/openai/"
AI_PROXY_PROVIDERS = ["cerebras", "gemini", "groq"]
AI_TRIAL_PREFILL_TOKEN_CEREBRAS = "$IRONNECT_AI_TRIAL_PREFILL_TOKEN_CEREBRAS"

# Legacy providers, to be removed in the future
AI_PROXY_ENDPOINT_URL_GEMINI = "https://generativelanguage.googleapis.com/v1beta/openai"
AI_PROXY_ENDPOINT_URL_GROQ = "https://api.groq.com/openai/v1"

AI_TRIAL_NYMPH_MODEL_GEMINI = "gemini-2.0-flash"
AI_TRIAL_NYMPH_MODEL_GROQ = "llama-3.1-8b-instant"

AI_TRIAL_PREFILL_TOKEN_GEMINI = "$IRONNECT_AI_TRIAL_PREFILL_TOKEN_GEMINI"
AI_TRIAL_PREFILL_TOKEN_GROQ = "$IRONNECT_AI_TRIAL_PREFILL_TOKEN_GROQ"
