[repository]
repository = "opendal:gdrive"
password = "$RUSTIC_PASSWORD"

[repository.options]
root = "/rustic"
refresh_token = "$RUSTIC_GDRIVE_OAUTH_REFRESH_TOKEN"
client_id = "$RUSTIC_GDRIVE_OAUTH_CLIENT_ID"
client_secret = "$RUSTIC_GDRIVE_OAUTH_CLIENT_SECRET"

[forget]
keep-hourly = 20
keep-daily = 14
keep-weekly = 8
keep-monthly = 24
keep-yearly = 10

[[backup.snapshots]]
label = "sys-user"
sources = ["/srv/sys-user"]
git-ignore = true

[[backup.snapshots]]
label = "sys-root"
sources = ["/srv/sys-root"]
git-ignore = true

[[backup.snapshots]]
label = "sys-etc"
sources = ["/srv/sys-etc"]
git-ignore = true

[[backup.snapshots]]
label = "sys-srv"
sources = ["/srv/sys-srv"]
git-ignore = true
