[repository]
repository = "rclone:gdrive:/rustic"
password = "$RUSTIC_PASSWORD"

[global.env]
RCLONE_CONFIG_GDRIVE_TYPE = "drive"
RCLONE_CONFIG_GDRIVE_CLIENT_ID = "$RUSTIC_GDRIVE_OAUTH_CLIENT_ID"
RCLONE_CONFIG_GDRIVE_CLIENT_SECRET = "$RUSTIC_GDRIVE_OAUTH_CLIENT_SECRET"
RCLONE_CONFIG_GDRIVE_TOKEN = '{"access_token":"$RUSTIC_GDRIVE_OAUTH_ACCESS_TOKEN","token_type":"Bearer","refresh_token":"$RUSTIC_GDRIVE_OAUTH_REFRESH_TOKEN","expiry":"2000-01-01T00:00:00Z"}'

[forget]
keep-hourly = 20
keep-daily = 14
keep-weekly = 8
keep-monthly = 24
keep-yearly = 10

[[backup.snapshots]]
label = "sys-user"
sources = ["/srv/sys-user"]
git-ignore = true

[[backup.snapshots]]
label = "sys-root"
sources = ["/srv/sys-root"]
git-ignore = true

[[backup.snapshots]]
label = "sys-etc"
sources = ["/srv/sys-etc"]
git-ignore = true

[[backup.snapshots]]
label = "sys-srv"
sources = ["/srv/sys-srv"]
git-ignore = true
